.feedContainer{
    padding-bottom: 60px;
    background-color: $white;
    margin-top: 16px;

    .post{        
        margin-bottom: 16px;
        a{
            text-decoration: none;
        }

        
        .avatar{
            height: 32px;
            width: 32px;
            margin-right: 8px;
        }

        .postHeader{
            display: flex;
            align-items: center;
            padding: 0 12px;
            text-decoration: none;
            margin-bottom: 8px;


            strong{
                font-size: 12px;                
                color: $gray4;                
            }

        }

        .postImage{
            img{
                width: 100%;
                height: auto;
                max-height: 360px;
                object-fit: cover;
            }
        }

        .postFooter{
            padding: 5px 16px;
            color: $gray4;

            strong.postUser{
                font-size: 12px;
                               
                float: left;
                margin-right: 5px;
                margin-top: 3px;
            }

            p.description{
                font-size: 14px;
                font-family: $fontLight;
                margin: 0 0 2px;
            }

            .postActions{
                display: flex;
                align-items: center;
                gap:12px;
                margin-bottom: 10px;

                .likesCount{
                    font-family: $fontLight;
                    font-size: 10px;
                    color: $gray4;
                    strong{
                       
                        font-size: 10px;
                    }
                }
            }

            .postComments{                
                max-height: 70px;
                overflow-y: auto;
            }

            
        }

        .commentContainer {
            display: flex;
            align-items: center;
            padding: 0 12px;
            margin-bottom: 16px;

            textarea {
                resize: none;
                flex: 1;
                max-width: 100%;
                border: none;
                outline: none;
                font-size: 12px;
                color: $gray2;
            }
        }
        
    }

    @media screen and (min-width:$desktopBreakpoint) {
        padding-top:8px;
        margin-top: 0px;
        
        .post {
            
            .postHeader {
                cursor: pointer;
            }

            .avatar {
                width: 42px;
                height: 42px;
            }

            .postFooter {
                .postActions {
                    cursor: pointer;
                    > span {
                        cursor: pointer;
                    }
                }
            }

            .commentContainer {
                margin-top: 12px;

                .btnPublish {
                    background-color: transparent;
                    color: $primaryColor2;
                    outline: none;
                    border: none;
                    font-size: 12px;
                    cursor: pointer;
                }
            }
        }
    }
}
