@font-face {
    font-family: 'Biennale-Regular';
    src: url('Fontspring-DEMO-biennale-regular.otf') format('opentype');
}
@font-face {
    font-family: 'Biennale-Light';
    src: url('Fontspring-DEMO-biennale-light.otf') format('opentype');
}
@font-face {
    font-family: 'Biennale-Bold';
    src: url('Fontspring-DEMO-biennale-bold.otf') format('opentype');
}
