.profilePage{
    
    .headerProfile{
        background-color: $white;



        .info{
            display: flex;
            align-items: center;
            
            padding: 16px 16px 24px;

            .avatar{
                height: 80px;
                width: 80px;
                margin-right: 24px;
            }

            .infoContainer{
                flex: 1;
                display: flex;
                flex-direction: column;

                .btn{
                    font-size: 12px;
                    margin-top: 8px;
                    padding: 6px;
                    border-radius: 4px;
                }

                .infoNumbers{
                    display: flex; 
                    text-align: center;
                    justify-content: space-between;
                    align-items: center;
                    .infoStatus{
                        >strong,span{
                            display: block;                            
                        }

                        > strong{
                            font-size: 14px;
                        }

                        > span{
                            font-size: 12px;
                        }                        

                    }

                    .infoFollowing{
                        margin-right: 5px;
                    }
                }

            }

        }
    }

    @media screen and (min-width:$desktopBreakpoint) {
        .headerProfile{
            .headerWithAction{
                h3{
                    font-size: 18px;
                }

                >img{
                    display: none !important;
                }
            }
            
            .info{
                .avatar{
                    width: 90px;
                    height: 90px;
                }

                .infoContainer{
                    .btn{
                        padding: 8px;
                    }
                }
            }
            
        }   
        
        
        
    }
}