.headerWithAction{
    display: flex;
    // border-bottom: 0.5px solid $gray1;
    padding: 6px 12px;

    h3{
        font-family: $fontBold;
        font-size: 16px;
        text-align: center;
        flex: 1;
    }

    
}