@import '../../public/fonts/fonts.scss';
@import 'variables.scss';
@import '../components/button/button.scss';
@import '../components/avatar/avatar.scss';
@import '../components/inputPublic/inputPublic.scss';
@import '../components/layout/header.scss';
@import '../components/layout/footer.scss';
@import '../pages/create/create.scss';
@import './publicPage.scss';

*{
  font-family: $fontRegular;
  font-size: 14px;
  padding: 0;
  margin:0;
}

html, body, #__next{
  height:100%;

}

.avatar{
  border-radius:50%;
  object-fit:cover;
}

.oculto{
  display:none;
}

input{
  &::placeholder{
    color: $gray2;
    opacity:1;
  }
  &:-ms-input-placeholder{
    color: $gray2;
    opacity:1;
  }
  &::-ms-input-placeholder{
    color: $gray2;
    opacity:1;
  }
}

.desktop{

  @media screen and (min-width:$desktopBreakpoint) {
    display: block;
  }

  @media screen and (max-width:calc($desktopBreakpoint - 1px)) {
    display: none;
  }

}

.mobile{

  @media screen and (min-width:$desktopBreakpoint) {
    display: none;
  }

  @media screen and (max-width:calc($desktopBreakpoint - 1px)) {
    display: block;
  }
  
}

.validationMessage{
  display:block;
  color:$redMessage; 
  font-size:90%;
  margin-top:-20px;
  margin-bottom:15px;
}

.navbar{
  ul{
    display: flex;
    justify-content: space-around;
    padding: 0;
    margin:10px 0 ;
    li{
      list-style: none;
      cursor: pointer;
    }
  }
}