@import '../../public/fonts/fonts.scss';
@import 'variables.scss';
@import '../components/button/button.scss';
@import '../components/avatar/avatar.scss';
@import '../components/inputPublic/inputPublic.scss';
@import '../components/layout/header.scss';
@import '../components/layout/footer.scss';
@import '../components/feed/feed.scss';
@import '../components/headerActions/headerActions.scss';
@import '../pages/profile/profile.scss';
@import '../pages/publication/publication.scss';
@import '../pages/create/create.scss';
@import './publicPage.scss';

*{
  font-family: $fontRegular;
  font-size: 14px;
  padding: 0;
  margin:0;
}

html, body, #__next{
  height:100%;

}

body{
  @media screen and (min-width:$desktopBreakpoint){
    background-color: $gray5;
    background-image: url('../../public/images/background-desktop.svg');
  }
}

/* width */
::-webkit-scrollbar {
  width: 12px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 100px #DADADA; 
  border-radius: 3px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #7C7786; 
  border-radius: 3px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #4D4C4D; 
}

.avatar{
  border-radius:50%;
  object-fit:cover;
}

.oculto{
  display:none;
}

input{
  &::placeholder{
    color: $gray2;
    opacity:1;
  }
  &:-ms-input-placeholder{
    color: $gray2;
    opacity:1;
  }
  &::-ms-input-placeholder{
    color: $gray2;
    opacity:1;
  }
}

.desktop{

  @media screen and (min-width:$desktopBreakpoint) {
    display: block;
  }

  @media screen and (max-width:calc($desktopBreakpoint - 1px)) {
    display: none;
  }

}

.mobile{

  @media screen and (min-width:$desktopBreakpoint) {
    display: none;
  }

  @media screen and (max-width:calc($desktopBreakpoint - 1px)) {
    display: block;
  }
  
}

.validationMessage{
  display:block;
  color:$redMessage; 
  font-size:90%;
  margin-top:-20px;
  margin-bottom:15px;
}

.navbar{
  ul{
    display: flex;
    justify-content: space-around;
    padding: 0;
    margin:10px 0 ;
    li{
      list-style: none;
      cursor: pointer;
    }
  }
}

strong{
  font-family: $fontBold;
}

.width30pctDesktop{
  @media screen and (min-width:$desktopBreakpoint) {
    width: 35%;
    margin: 0px auto;
  }
}

.divideBorder{
  margin: 0;
  border: none;
  background-color: $gray1;
  height: 1px;
  
  @media screen and (min-width:$desktopBreakpoint) {
    margin: 0 auto;                
    width: 90%;
  }
}