.publicPage{
    display:flex;
    flex-direction:column;
    height:100%;
    align-items:center;
    justify-content:center;    
    padding:0 32px;

    .logoContainer{
        position:relative;
        width:100%;
        height:13%;
        margin-bottom:56px;
    }

    .publicPageContent{
        width:100%;
    }

    .btn{
        margin-top:15px;
        padding: 10px;
    }

    .publicPageFooter{
        text-align:center;
        margin-top:24px;

        p{
            color:$gray3;
            margin: 0px 0px 2px;
        }

        a{
            color:$primaryColor2;
            font-family: $fontBold;
            font-size:14px;
        }
    }

    @media screen and (min-width:$desktopBreakpoint){
        flex-direction:row;
        padding:0 140px;
        font-size:18px;

        .logoContainer{
            flex:2;
            height:30%;
            margin-bottom:-30px;
            .logo{
                width:100%;
                max-width:300px;
            }

        }

        .publicPageContent{
            flex:1;
            width:30%;
            border:1px solid $primaryColor2;
            border-radius:26px;
            padding:50px;
        }

        .btn{
            padding: 18px;  
            font-size:18px;          
        }

        .publicPageFooter{
            p,a{
                font-size:18px;
            }
        }

        .inputPublic{
            input{
                font-size:16px;
            }
        }
        
    }

}