//Fonts
$fontRegular: 'Biennale-Regular';
$fontBold: 'Biennale-Bold';
$fontLight: 'Biennale-Light';

//Colors
$primaryColor2: #5E49FF;
$primaryColor3: #25CBD3;
$primaryColor4: #F0F5FF;
$gray:#F4F4F4;
$gray1:#DADADA;
$gray2: #7C7786;
$gray3: #4D4C4D;
$gray4: #333333;
$gray5: #E5E5E5;
$white: #FFF;
$redMessage: #FF0000;

//Breakpoint
$desktopBreakpoint: 992px;



